body {
  background-color: #DBDFFD;
}

hr {
  border-left-style: none;
  border-right-style: none;
  border-bottom-style: none;
  border-top-style: dotted;
  border-top-color: #A5BECC;
  background-color: #DBDFFD;
  border-width: thick;
  width: 40px;

}

h1 {
  color: #27496D;
  text-align: center;
  text-shadow: 1px 1px black;
  text-transform:uppercase;
  letter-spacing: -1.5px;
  word-spacing: 3px;
  white-space: nowrap;
}

h3 {
  color: #1687A7;
  text-shadow: 1px 1px 3px;
}

.li:hover{
  background-color: #A6D6D6;
}
